<form action="/records" method="POST">
  <div class="form-group form-row">
    <label for="name" class="col-md-2 col-form-label">
      支出項目
    </label>
    <div class="col-md-10">
      <input type="text" placeholder="請輸入項目名稱" name="name" class="form-control" required>
    </div>
  </div>
  <div class="form-group form-row">
    <label for="category" class="col-md-2 col-form-label">
      支出類別
    </label>
    <div class="col-md-10">
      <input type="text" placeholder="請輸入項目類別" name="category" class="form-control" required>
    </div>
  </div>
  <div class="form-group form-row">
    <label for="date" class="col-md-2 col-form-label">
      支出日期
    </label>
    <div class="col-md-10">
      <input type="text" placeholder="請輸入日期" name="date" class="form-control" required>
    </div>
  </div>
  <div class="form-group form-row">
    <label for="amount" class="col-md-2 col-form-label">
      支出金額
    </label>
    <div class="col-md-10">
      <input type="text" placeholder="請輸入項目金額" name="amount" class="form-control" required>
    </div>
  </div>
  <button type="submit">Create</button>
</form>